<div class="row">
	<div id="store-map"></div>
</div>

<div class="row text-center">
	<button id="nearest-point" >SEARCH NEAREST SHOP</button>
</div>

<%= javascript_include_tag 'https://code.jquery.com/jquery-2.2.4.min.js' %>
<script>
  function storeMap() {
    stores = '<%= escape_javascript(@stores.html_safe) %>';
    // stores = '[{"id":1,"name":"O Connell-Reilly","address":"92720 Cydney Square","phone":"237-082-7120","deposit":90.58,"lat":"-24.678901512160408","long":"-15.445538767426655","operator_id":null,"created_at":"2016-12-14T08:25:27.000Z","updated_at":"2016-12-14T08:25:27.000Z"}]';
    stores = $.parseJSON(stores);

    var _store = {lat: -46.22067326359609, lng: -92.91650604852009};
    map = new google.maps.Map(document.getElementById('store-map'), {
      zoom: 0,
      center: _store,
      mapTypeId: google.maps.MapTypeId.ROAD
    });

    var icon = {
	    url: "/images/map-marker.png",
	    scaledSize: new google.maps.Size(50, 50)
		};

    var marker;
    for (i = 0; i < stores.length; i++) { 
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(stores[i]["lat"], stores[i]["long"]),
        icon: icon,
        map: map
      });
    }
  }

  function calcDistanceMap (fromLat, fromLng, toLat, toLng) {
    return google.maps.geometry.spherical.computeDistanceBetween(new google.maps.LatLng(fromLat, fromLng), new google.maps.LatLng(toLat, toLng));
 	}

 	$(document).ready(function() {
    google.maps.event.addDomListener(window, 'load', storeMap);

 	  $('#nearest-point').on('click', function() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
          var pos = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          };
          
          var data = [];
          for(var i = 0; i < stores.length; i++) {
            distance = calcDistanceMap(pos.lat, pos.lng, parseFloat(stores[i].lat), parseFloat(stores[i].long));
            data[i] = {
              lat: parseFloat(stores[i].lat),
              lng: parseFloat(stores[i].long),
              distance: distance
            }
          }
          var min = data.sort(function (a, b) {
            return a.distance - b.distance
          })[0];

          map.setCenter(min);
          map.setZoom(9);

        }, function() {
          alert("Cannot get current position");
        });
      } else {
        alert("Browser doesn't support Geolocation");
      }
    });
 	});

</script>