<h1>New BTC Address</h1>
<%= form_for :btc_address, url: create_btc_address_user_reservations_path do |f| %>
  <div class="form-group">
    <%= f.label :address %><br>
    <%= f.text_field :address, { required: 'true', class: "form-control" } %>
  </div>
  <%= f.submit "Create", class: "btn btn-default" %>
<% end -%>